<% include ../partials/header %>
    <h1 style="text-align: center; color: white;">Create a New Event</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/events" method="POST">
            <input style="display: block; color: white; font-size: 18px;" type="text" name="name" placeholder="Event Name">
            <input style="display: block; color: white; font-size: 18px;" type="text" name="head" placeholder="Event Head">
            <input style="display: block; color: white; font-size: 18px;" type="text" name="headMobile" placeholder="Event Head Mobile">
            <input style="display: block; color: white; font-size: 18px;" type="text" name="poster" placeholder="event poster url" required>
            <input style="display: block; color: white; font-size: 18px;" type="text" name="description" placeholder="Event description">
            <button type="submit">Create Event</button>
        </form>
    </div>
<% include ../partials/footer %>

