<!-- DEVELOPED BY -->
  <div class="footer">
    <span class="copyright">&copy; IIEDC NIT Srinagar</span>
    <span class="dev-by">Build by <a class="dev-name">VIKAS KUMAR</a></span>
  </div>
</div> 


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="asset/particlesjs/particles.js"></script>
<script src="asset/particlesjs/app.js"></script>
<script type="text/javascript">
  AOS.init();
</script>
</body>
</html>