<% include ./partials/header %>
<% include ./partials/loginnav %>

	<div class="landing_div on-nav-rotate" id="topid">
		<div id="particles-js">
			<div class="esummit-head">
				<h1 data-aos="zoom-in-up" data-aos-duration="1000">E-SUMMIT</h1>
				<div class="esummit-register" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor="top buttom">
					<button class="btn-primary"><a href="#about-us" class="scroll-links">About</a></button>
					<button class="btn-primary"><a href="/register">Register</a></button>
				</div>
			</div>
		</div>
		
		<div class="scroll_div">
			<div class="mouse"></div>
		</div>
	</div>

	<div class="go-to-top"><a href="#topid" class="scroll-links"><i class="fas fa-chevron-up"></i></a></div>

<!-- ABOUT-US PAGE -->
	<div class="about-us" id="about-us">
		<div class="svg-wrapper" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="200">
			<svg height="80" width="380" xmlns="http://www.w3.org/2000/svg">
				<rect class="rect-shape" height="80" width="380" />
		    	<div class="au-head">ABOUT US</div>
			</svg>
		</div>

		<div class="au-content" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="100">
			<p>The Innovation Incubation Entrepreneurship Centre(IIEDC) of NIT Srinagar has been responsible of sponsoring various startups by conducing a talent search (Idea Challenge) successfully for several years. Introduction of IIEDC has provided a platform to the young minds of our college. This 2 day extravaganza will see different corporates, entrepreneurs and students on a common platform. We look forward for your active participation and build a thriving undying partnership.
			</p>
		</div>
	</div>

<!-- EVENTS PAGE-->
	<div class="speakers" id="speakers">
		<div class="svg-wrapper" data-aos="zoom-in" data-aos-duration="1000">
			<svg height="80" width="380" xmlns="http://www.w3.org/2000/svg">
				<rect class="rect-shape" height="80" width="380" />
		    	<div class="au-head">SPEAKERS</div>
			</svg>
		</div>
		<div class="speakers-profiles">
			<div class="profile-card" data-aos="fade-up" data-aos-duration="500" data-aos-offset="200">
				<img class="profile-img" src="/asset/img/avatar.png">
				<div class="profile-name">JOHN KORPERS</div>
				<div class="profile-designation">Director</div>
				<div class="profile-institute">Happy Foundation</div>
			</div>
			<div class="profile-card" data-aos="fade-up" data-aos-duration="500" data-aos-offset="200">
				<img class="profile-img" src="/asset/img/avatar.png">
				<div class="profile-name">JOHN KORPERS</div>
				<div class="profile-designation">Director</div>
				<div class="profile-institute">Happy Foundation</div>
			</div>
			<div class="profile-card" data-aos="fade-up" data-aos-duration="500" data-aos-offset="200">
				<img class="profile-img" src="/asset/img/avatar.png">
				<div class="profile-name">JOHN KORPERS</div>
				<div class="profile-designation">Director</div>
				<div class="profile-institute">Happy Foundation</div>
			</div>
			<div class="profile-card" data-aos="fade-up" data-aos-duration="500" data-aos-offset="200">
				<img class="profile-img" src="/asset/img/avatar.png">
				<div class="profile-name">JOHN KORPERS</div>
				<div class="profile-designation">Director</div>
				<div class="profile-institute">Happy Foundation</div>
			</div>
			<div class="profile-card" data-aos="fade-up" data-aos-duration="500" data-aos-offset="200">
				<img class="profile-img" src="/asset/img/avatar.png">
				<div class="profile-name">JOHN KORPERS</div>
				<div class="profile-designation">Director</div>
				<div class="profile-institute">Happy Foundation</div>
			</div>
			<div class="profile-card" data-aos="fade-up" data-aos-duration="500" data-aos-offset="200">
				<img class="profile-img" src="/asset/img/avatar.png">
				<div class="profile-name">JOHN KORPERS</div>
				<div class="profile-designation">Director</div>
				<div class="profile-institute">Happy Foundation</div>
			</div>
			<div class="profile-card" data-aos="fade-up" data-aos-duration="500" data-aos-offset="200">
				<img class="profile-img" src="/asset/img/avatar.png">
				<div class="profile-name">JOHN KORPERS</div>
				<div class="profile-designation">Director</div>
				<div class="profile-institute">Happy Foundation</div>
			</div>
		</div>
	</div>

<!-- EVENTS TIMELINE -->
	<div id="timeline">
		<div class="svg-wrapper" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="200">
			<svg height="80" width="380" xmlns="http://www.w3.org/2000/svg">
				<rect class="rect-shape" height="80" width="380" />
		    	<div class="au-head">TIMELINE</div>
			</svg>
		</div>
		<div class="line" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="200">
			<hr>
			<div class="event bubble-lg">
				<div class="event-card">
					<img class="event-img" src="/asset/img/events.png">
					<div class="event-name">EVENT-NAME</div>
					<div class="event-desc">Event Description Here</div>
				</div>
			</div>
			<div class="event bubble-sm">
				<div class="event-card">
					<img class="event-img" src="/asset/img/events.png">
					<div class="event-name">EVENT-NAME</div>
					<div class="event-desc">Event Description Here</div>
				</div>
			</div>
			<div class="event bubble-md">
				<div class="event-card">
					<img class="event-img" src="/asset/img/events.png">
					<div class="event-name">EVENT-NAME</div>
					<div class="event-desc">Event Description Here</div>
				</div>
			</div>
			<div class="event bubble-sm">
				<div class="event-card">
					<img class="event-img" src="/asset/img/events.png">
					<div class="event-name">EVENT-NAME</div>
					<div class="event-desc">Event Description Here</div>
				</div>
			</div>
			<div class="event bubble-lg">
				<div class="event-card">
					<img class="event-img" src="/asset/img/events.png">
					<div class="event-name">EVENT-NAME</div>
					<div class="event-desc">Event Description Here</div>
				</div>
			</div>
			<div class="event bubble-xs">
				<div class="event-card">
					<img class="event-img" src="/asset/img/events.png">
					<div class="event-name">EVENT-NAME</div>
					<div class="event-desc">Event Description Here</div>
				</div>
			</div>
			<div class="event bubble-md">
				<div class="event-card">
					<img class="event-img" src="/asset/img/events.png">
					<div class="event-name">EVENT-NAME</div>
					<div class="event-desc">Event Description Here</div>
				</div>
			</div>
		</div>
	</div>

<!-- SPONSORS PAGE -->
	<div class="sponsors" id="sponsors">
		<div class="svg-wrapper" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="200">
			<svg height="80" width="380" xmlns="http://www.w3.org/2000/svg">
				<rect class="rect-shape" height="80" width="380" />
		    	<div class="au-head">SPONSORS</div>
			</svg>
		</div>
		<div class="sponsors-profiles">
			<a class="sponsor-card" href="#">
				<img class="sponsor-img" src="/asset/img/sponsor.png">
			</a>
			<a class="sponsor-card" href="#">
				<img class="sponsor-img" src="/asset/img/sponsor.png">
			</a>
			<a class="sponsor-card" href="#">
				<img class="sponsor-img" src="/asset/img/sponsor.png">
			</a>
		</div>
	</div>


<!-- CONTACT-US -->
	<div class="contact-us" id="contact-us">
		<img class="contact-svg" src="/asset/img/contact.svg" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="200">
		<form class="std-form" data-aos="fade-up" data-aos-duration="1000">
			<span class="form-title">Contact us</span>
			<div class="input name-input">
				<span class="input-label">Name</span>
				<div class="input-icon">
					<span class="icon"><i class="fas fa-user"></i></span>
					<input type="text" name="name" placeholder="Enter your name">
				</div>
			</div>
			<div class="input email-input">
				<span class="input-label">Email</span>
				<div class="input-icon">
					<span class="icon"><i class="fas fa-envelope"></i></span>
					<input type="email" name="email" placeholder="Enter your email address">
				</div>
			</div>
			<div class="input query-input">
				<span class="input-label">Query</span>
				<div class="input-icon">
					<span class="icon"><i class="fas fa-question"></i></span>
					<input type="email" name="email" placeholder="Your message here...">
				</div>
			</div>
			<button class="btn-primary" type="submit">Submit<span><i class="fas fa-long-arrow-alt-right"></i></span></button>
			<span class="contact-no">Or contact us on: <span class="contact-no-highlight">+91 987654321</span></span>
		</form>
	</div>

<!-- OUR-TEAM -->
	<div id="our-team">
		<div class="svg-wrapper" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="200">
			<svg height="80" width="380" xmlns="http://www.w3.org/2000/svg">
				<rect class="rect-shape" height="80" width="380" />
				<div class="au-head">OUR TEAM</div>
			</svg>
		</div>
	
		<div class="team-container" data-aos="zoom-in" data-aos-duration="1000">
			<div class="team-selector" data-aos="fade-up" data-aos-duration="1500">
				<button class="btn-primary btn-team-selector">Management</button>
				<button class="btn-primary btn-team-selector">Web Developer</button>
				<button class="btn-primary btn-team-selector">Content Creator</button>
				<button class="btn-primary btn-team-selector">Media & Publicity</button>
			</div>
			<div class="team-showcase" data-aos="fade-up" data-aos-duration="1500">
				<div class="teams">
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Management Team</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Management Team</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Management Team</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
				</div>
				<div class="teams">
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">VIKAS KUMAR</div>
						<div class="profile-designation">Web Developer</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
				</div>
				<div class="teams">
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Content Team</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Content Team</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Content Team</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
				</div>
				<div class="teams">
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Media & Publicity</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Media & Publicity</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
					<div class="profile-card">
						<img class="profile-img" src="/asset/img/avatar.png">
						<div class="profile-name">JOHN KORPERS</div>
						<div class="profile-designation">Media & Publicity</div>
						<a class="profile-link" href="#"><div><i class="fab fa-linkedin-in"></i></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>


<% include ./partials/footer %>