<% include ./partials/header %>
<% include ./partials/loginnav %>

<div class="on-nav-rotate">

    <div class="Page-Top">
        <h1>REGISTER</h1>
    </div>

<% include ./partials/flashmsg %>

    <form action="/register" method="post" class="std-form" id="register-form" data-aos="fade-up" data-aos-duration="1000">
        <div class="input name-input">
            <div class="input-icon">
                <span class="icon"><i class="fas fa-user"></i></span>
                <input type="text" name="name" placeholder="Full Name" required>
            </div>
        </div>
        <div class="input email-input">
            <div class="input-icon">
                <span class="icon"><i class="fas fa-envelope"></i></span>
                <input type="email" name="username" placeholder="Email Address" required>
            </div>
        </div>
        <div class="input mobile-input">
            <div class="input-icon">
                <span class="icon"><i class="fas fa-mobile-alt"></i></span>
                <input type="text" name="mobile" placeholder="Phone No." required>
            </div>
        </div>
        <div class="input password-input">
            <div class="input-icon">
                <span class="icon"><i class="fas fa-key"></i></span>
                <input type="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <button type="submit" class="btn-primary">Register<span><i class="fas fa-long-arrow-alt-right"></i></span></button>
        <span class="contact-no">Already Registered?  <a href="/login" class="contact-no-highlight">Login</a></span>
    </form>

</div>


<% include ./partials/footer %>

